eDocMexicoCFDI.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="eDocMexicoCFDI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="eDocMexicoCFDI" targetNamespace="eDocMexicoCFDI">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.w3.org/2000/09/xmldsig#">
      <xs:element name="Signature" type="tns:SignatureType"/>
      <xs:complexType name="SignatureType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="SignedInfo" type="tns:SignedInfoType"/>
          <xs:element minOccurs="0" maxOccurs="1" name="SignatureValue" type="xs:base64Binary"/>
          <xs:element minOccurs="0" maxOccurs="1" name="KeyInfo" type="tns:KeyInfoType"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Object" type="tns:ObjectType"/>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:ID"/>
      </xs:complexType>
      <xs:complexType name="SignedInfoType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="CanonicalizationMethod" type="tns:CanonicalizationMethodType"/>
          <xs:element minOccurs="0" maxOccurs="1" name="SignatureMethod" type="tns:SignatureMethodType"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Reference" type="tns:ReferenceType"/>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:ID"/>
      </xs:complexType>
      <xs:complexType name="CanonicalizationMethodType" mixed="true">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="Algorithm" type="xs:anyURI"/>
      </xs:complexType>
      <xs:complexType name="SignatureMethodType" mixed="true">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="HMACOutputLength" type="xs:integer"/>
        </xs:sequence>
        <xs:attribute name="Algorithm" type="xs:anyURI"/>
      </xs:complexType>
      <xs:complexType name="ReferenceType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Transforms" type="tns:ArrayOfTransformType"/>
          <xs:element minOccurs="0" maxOccurs="1" name="DigestMethod" type="tns:DigestMethodType"/>
          <xs:element minOccurs="0" maxOccurs="1" name="DigestValue" type="xs:base64Binary"/>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:ID"/>
        <xs:attribute name="URI" type="xs:anyURI"/>
        <xs:attribute name="Type" type="xs:anyURI"/>
      </xs:complexType>
      <xs:complexType name="ArrayOfTransformType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Transform" type="tns:TransformType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TransformType" mixed="true">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="XPath" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="Algorithm" type="xs:anyURI"/>
      </xs:complexType>
      <xs:complexType name="DigestMethodType" mixed="true">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="Algorithm" type="xs:anyURI"/>
      </xs:complexType>
      <xs:complexType name="KeyInfoType" mixed="true">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="X509Data" type="tns:X509DataType"/>
          <xs:element minOccurs="0" maxOccurs="1" name="KeyName" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="KeyValue" type="tns:KeyValueType"/>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:ID"/>
      </xs:complexType>
      <xs:complexType name="X509DataType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="X509IssuerSerial" type="tns:X509IssuerSerialType"/>
          <xs:element minOccurs="0" maxOccurs="1" name="X509Certificate" type="xs:base64Binary"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="X509IssuerSerialType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="X509IssuerName" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="X509SerialNumber" type="xs:integer"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="KeyValueType" mixed="true">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="RSAKeyValue" type="tns:RSAKeyValueType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RSAKeyValueType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Modulus" type="xs:base64Binary"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Exponent" type="xs:base64Binary"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ObjectType" mixed="true">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:ID"/>
        <xs:attribute name="MimeType" type="xs:string"/>
        <xs:attribute name="Encoding" type="xs:anyURI"/>
      </xs:complexType>
    </xs:schema>  
    <xs:schema xmlns:tdCFDI="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI" elementFormDefault="unqualified" attributeFormDefault="unqualified">
      <xs:simpleType name="t_CURP">
        <xs:restriction base="xs:string">
          <xs:whiteSpace value="collapse"/>
          <xs:length value="18"/>
          <xs:pattern value="[A-Z][AEIOUX][A-Z]{2}[0-9]{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])[MH]([ABCMTZ]S|[BCJMOT]C|[CNPST]L|[GNQ]T|[GQS]R|C[MH]|[MY]N|[DH]G|NE|VZ|DF|SP)[BCDFGHJ-NP-TV-Z]{3}[0-9A-Z][0-9]"/>
          </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="t_Importe">
        <xs:restriction base="xs:decimal">
          <xs:fractionDigits value="6"/>
          <xs:minInclusive value="0.000000"/>
          <xs:pattern value="[0-9]{1,18}(.[0-9]{1,6})?"/>
          <xs:whiteSpace value="collapse"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="t_Fecha">
        <xs:restriction base="xs:date">
          <xs:whiteSpace value="collapse"/>
          <xs:pattern value="((19|20)[0-9][0-9])-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="t_ImporteMXN">
        <xs:restriction base="xs:decimal">
          <xs:fractionDigits value="2"/>
          <xs:minInclusive value="0.00"/>
          <xs:whiteSpace value="collapse"/>
          <xs:pattern value="[0-9]{1,18}(.[0-9]{1,2})?"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="t_CuentaBancaria">
        <xs:restriction base="xs:integer">
          <xs:whiteSpace value="collapse"/>
          <xs:pattern value="[0-9]{10,18}"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="t_RFC">
        <xs:restriction base="xs:string">
          <xs:whiteSpace value="collapse"/>
          <xs:minLength value="12"/>
          <xs:maxLength value="13"/>
          <xs:pattern value="[A-Z&amp;Ñ]{3,4}[0-9]{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])[A-Z0-9]{2}[0-9A]"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="t_RFC_PM">
        <xs:restriction base="xs:string">
          <xs:whiteSpace value="collapse"/>
          <xs:minLength value="12"/>
          <xs:pattern value="[A-Z&amp;Ñ]{3}[0-9]{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])[A-Z0-9]{2}[0-9A]"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="t_RFC_PF">
        <xs:restriction base="xs:string">
          <xs:whiteSpace value="collapse"/>
          <xs:minLength value="13"/>
          <xs:pattern value="[A-Z&amp;Ñ]{4}[0-9]{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])[A-Z0-9]{2}[0-9A]"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="t_FechaHora">
        <xs:restriction base="xs:dateTime">
          <xs:whiteSpace value="collapse"/>
          <xs:pattern value="((19|20)[0-9][0-9])-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="t_FechaH">
        <xs:restriction base="xs:dateTime">
          <xs:whiteSpace value="collapse"/>
          <xs:pattern value="(20[1-9][0-9])-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="t_Descrip100">
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="100"/>
          <xs:whiteSpace value="collapse"/>
          <xs:pattern value="([A-Z]|[a-z]|[0-9]| |Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|>|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,100}"/></xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="t_NumeroDomicilio">
        <xs:restriction base="xs:string">
        <xs:minLength value="1"/>
        <xs:maxLength value="55"/>
        <xs:whiteSpace value="collapse"/>
        <xs:pattern value="([A-Z]|[a-z]|[0-9]| |Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|>|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,55}"/></xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="t_Referencia">
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="250"/>
          <xs:whiteSpace value="collapse"/>
          <xs:pattern value="([A-Z]|[a-z]|[0-9]| |Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|>|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,250}"/></xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="t_Descrip120">
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="120"/>
          <xs:whiteSpace value="collapse"/>
          <xs:pattern value="([A-Z]|[a-z]|[0-9]| |Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|>|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,120}"/></xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="t_TipoCambio">
        <xs:restriction base="xs:decimal">
          <xs:minInclusive value="0.00"/>
          <xs:fractionDigits value="6"/>
          <xs:whiteSpace value="collapse"/>
          <xs:pattern value="[0-9]{1,18}(.[0-9]{1,6})?"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tfd="http://www.sat.gob.mx/TimbreFiscalDigital" xmlns:tdCFDI="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI" targetNamespace="http://www.sat.gob.mx/TimbreFiscalDigital" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <xs:element name="TimbreFiscalDigital">
        <xs:complexType>
          <xs:attribute name="Version" use="required" fixed="1.1">
          </xs:attribute>
          <xs:attribute name="UUID" use="required" id="UUID">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:whiteSpace value="collapse" />
                <xs:length value="36" />
                <xs:pattern value="[a-f0-9A-F]{8}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{12}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="FechaTimbrado" use="required" type="tdCFDI:t_FechaH">
          </xs:attribute>
          <xs:attribute name="RfcProvCertif" use="required" type="tdCFDI:t_RFC_PM">
          </xs:attribute>
          <xs:attribute name="Leyenda" use="optional">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:whiteSpace value="collapse" />
                <xs:minLength value="12" />
                <xs:maxLength value="150" />
                <xs:pattern value="([A-Z]|[a-z]|[0-9]| |Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|&gt;|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,150}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="SelloCFD" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:whiteSpace value="collapse" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="NoCertificadoSAT" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="20" />
                <xs:whiteSpace value="collapse" />
                <xs:pattern value="[0-9]{20}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="SelloSAT" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:whiteSpace value="collapse" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xsd:schema targetNamespace="http://www.sap.com/eDocMexicoCFDI/v1.0" xmlns:tns="http://www.sap.com/eDocMexicoCFDI/v1.0">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xs:schema targetNamespace="https://www.sap.com/eDocMexico/CFDI/v1.0" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="https://www.sap.com/eDocMexico/CFDI/v1.0">
      <xs:element name="eDocFolioRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Folios" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="UUID" type="xs:string" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="RfcEmisor" type="xs:string" />
          <xs:attribute name="Fecha" type="xs:dateTime" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="eDocFoiloResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="eDocFolioResult" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Folios" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="UUID" type="xs:string" minOccurs="1" maxOccurs="1" />
                        <xs:element name="ResultStatus" type="xs:double" minOccurs="1" maxOccurs="1" />
                        <xs:element name="ErrorCode" type="xs:double" maxOccurs="1" minOccurs="0"></xs:element>
                        <xs:element name="ErrorDescription" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
                        <xs:element name="DocData" type="xs:base64Binary" maxOccurs="1" minOccurs="0"></xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="CodEstatus" type="xs:string" />
                <xs:attribute name="Fecha" type="xs:dateTime" use="required" />
                <xs:attribute name="RfcEmisor" type="xs:string" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="eDocMexicoCFDI" xmlns:Q1="http://www.sat.gob.mx/TimbreFiscalDigital" xmlns:Q2="https://www.sap.com/eDocMexico/CFDI/v1.0">
      <xsd:element name="SubmitEdocRequest" type="tns:OperationRequestType"></xsd:element>
      <xsd:element name="SubmitEdocResponse" type="tns:OperationResponse"></xsd:element>
      <xsd:complexType name="OperationResponse">
        <xsd:sequence>
          <xsd:element name="SignedDocument" type="xsd:base64Binary" maxOccurs="1" minOccurs="0"></xsd:element>
          <xsd:element ref="Q1:TimbreFiscalDigital" maxOccurs="1" minOccurs="0"></xsd:element>
          <xsd:element name="ResultStatus" type="xsd:double" maxOccurs="1" minOccurs="1"></xsd:element>
          <xsd:element name="Error" type="tns:ErrorType" maxOccurs="1" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ErrorType">
        <xsd:sequence>
          <xsd:element name="ErrorCode" type="xsd:double"></xsd:element>
          <xsd:element name="ErrorDescription" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OperationRequestType">
        <xsd:sequence>
          <xsd:element name="DocData" type="xsd:base64Binary"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="GetStatusEdocRequest" type="tns:OperationRequestType"></xsd:element>
      <xsd:element name="GetViewEdocRequest" type="tns:OperationRequestType"></xsd:element>
      <xsd:element name="CancelEdocRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DocData" type="xsd:base64Binary"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetStatusEdocResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="Q2:eDocFoiloResponse"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CancelEdocResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="Q2:eDocFoiloResponse"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetViewEdocResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Document" type="xsd:base64Binary"></xsd:element>
            <xsd:element name="Error" type="tns:ErrorType"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Error" type="xsd:string"></xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SubmitEdocRequest">
    <wsdl:part element="tns:SubmitEdocRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SubmitEdocResponse">
    <wsdl:part element="tns:SubmitEdocResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetStatusEdocRequest">
    <wsdl:part name="GetStatusEdocRequest" element="tns:GetStatusEdocRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetStatusEdocResponse">
    <wsdl:part name="GetStatusEdocResponse" element="tns:GetStatusEdocResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetViewEdocRequest">
    <wsdl:part name="GetViewEdocRequest" element="tns:GetViewEdocRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetViewEdocResponse">
    <wsdl:part name="GetViewEdocResponse" element="tns:GetViewEdocResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CancelEdocRequest">
    <wsdl:part name="CancelEdocRequest" element="tns:CancelEdocRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CancelEdocResponse">
    <wsdl:part name="CancelEdocResponse" element="tns:CancelEdocResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="eDocMexicoCFDI">
    <wsdl:operation name="SubmitEdoc">
      <wsdl:input message="tns:SubmitEdocRequest"/>
      <wsdl:output message="tns:SubmitEdocResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetStatusEdoc">
      <wsdl:input message="tns:GetStatusEdocRequest"></wsdl:input>
      <wsdl:output message="tns:GetStatusEdocResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetViewEdoc">
      <wsdl:input message="tns:GetViewEdocRequest"></wsdl:input>
      <wsdl:output message="tns:GetViewEdocResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelEdoc">
      <wsdl:input message="tns:CancelEdocRequest"></wsdl:input>
      <wsdl:output message="tns:CancelEdocResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="eDocMexicoCFDISOAP" type="tns:eDocMexicoCFDI">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SubmitEdoc">
      <soap:operation soapAction="http://www.sap.com/eDocMexicoCFDI/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="eDocMexicoCFDI">
    <wsdl:port binding="tns:eDocMexicoCFDISOAP" name="eDocMexicoCFDISOAP">
      <soap:address location="http://www.sap.com/eDocMexico/CFDI/v1.0"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>